{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}REVISTA{% endblock title %}
{% block content %}
{% load static %} 



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
 
    <h2>Neste formulário você tem acesso a todos os campos do registro da revista no Diretório das revistas científicas eletrônicas brasileiras (Miguilim). Os dados aqui informados serão automaticamente incorporados ao registro da revista no Miguilim, cabendo à equipe gestora verificá-los posteriormente. Deste modo, é importante que os dados sejam atualizados pelo (a) editor (a) responsável e/ou membros da equipe editorial. Em caso de dúvidas, entre em contato com a Equipe Miguilim por meio do e-mail: <b>revistas@ibict.br</b></h2>
    <h1>dc.title</h1>
    
     {% if submitted %}
        <p class="success">
         Metadados Atualizado com Sucesso.
        </p>
     
     {% else %}
        
             
            <form action="" method="post" novalidate enctype="multipart/form-data">
            <table>
            {{ form|crispy }}
            <tr>
            <td>&nbsp;</td>
            <td><button type="submit" class="btn btn-primary">Atualizar</button></td>
            </tr>
            </table>
            {% csrf_token %}
            </form>
                   
       
     {% endif %}
     
 
 {% endblock content %}

