{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}REVISTA{% endblock title %}
{% block content %}
{% load static %} 



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
 
    <h1>Atualize sua revista</h1>
      
     {% if submitted %}
        <p class="success">
         Metadados Atualizado com Sucesso.
        </p>
     
     {% else %}
        
             
            <form action="" method="post" novalidate enctype="multipart/form-data">
            <table>
            {{ form|crispy }}
            <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Atualizar"></td>
            </tr>
            </table>
            {% csrf_token %}
            </form>
                   
       
     {% endif %}
     
 
 {% endblock content %}

